body {

    font-family: 'Raleway', sans;
    font-family: 'Roboto', sans-serif;
       
}
.logo-web {
    color: #4D5AE5;
    font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.logo-studio {
    color: #2e2f42;
}
 .nav-link {
    color:  #2E2F42;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.address {
    color:#434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}